@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter-tight: "Inter Tight";
  --font-inter: Inter;
  --font-anek-devanagari: "Anek Devanagari";

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-11xl: 30px;
  --font-size-lg: 18px;
  --font-size-lgi: 19px;
  --font-size-61xl: 80px;
  --font-size-21xl: 40px;
  --font-size-13xl: 32px;
  --font-size-15xl: 34px;
  --font-size-8xl: 27px;
  --font-size-156xl: 175px;
  --font-size-51xl: 70px;
  --font-size-25xl: 44px;
  --font-size-41xl: 60px;
  --font-size-29xl: 48px;
  --font-size-17xl: 36px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #252627;
  --color-gray-200: rgba(37, 38, 39, 0.1);
  --color-midnightblue: #262163;
  --color-tomato-100: #ef5a2a;
  --color-tomato-200: #f0592a;
  --color-tomato-300: rgba(239, 90, 42, 0.1);
  --color-tomato-400: rgba(239, 90, 42, 0.11);
  --color-tomato-500: rgba(239, 90, 42, 0.2);
  --color-darkslateblue-100: #282261;
  --color-darkslateblue-300: rgba(40, 34, 97, 0.2);
  --color-darkslateblue-200: rgba(40, 34, 97, 0.05);
  --color-mediumseagreen-100: #039347;
  --color-mediumseagreen-200: #009247;
  --color-mediumseagreen-300: rgba(3, 147, 71, 0.5);
  --color-mediumseagreen-400: rgba(3, 147, 71, 0.05);
  --color-yellowgreen: #8bc540;
  --color-goldenrod: #faae42;
  --color-darkslategray: #403f3e;
  --color-orange: #f6a226;

  /* Gaps */
  --gap-2xl: 21px;
  --gap-xl: 20px;
  --gap-xs: 12px;
  --gap-21xl: 40px;
  --gap-mini: 15px;
  --gap-31xl: 50px;
  --gap-6xl: 25px;
  --gap-24xl: 43px;
  --gap-4xl: 23px;
  --gap-3xs: 10px;
  --gap-19xl: 38px;
  --gap-lgi: 19px;
  --gap-8xs: 5px;
  --gap-9xl: 28px;
  --gap-11xl: 30px;
  --gap-196xl: 215px;
  --gap-35xl: 54px;
  --gap-88xl: 107px;
  --gap-8xl: 27px;
  --gap-lg: 18px;
  --gap-10xs: 3px;
  --gap-sm: 14px;
  --gap-4xs: 9px;
  --gap-2xs: 11px;
  --gap-101xl: 120px;
  --gap-41xl: 60px;
  --gap-194xl: 213px;
  --gap-34xl: 53px;
  --gap-87xl: 106px;
  --gap-145xl: 164px;
  --gap-63xl: 82px;

  /* Paddings */
  --padding-21xl: 40px;
  --padding-xl: 20px;
  --padding-52xl: 71px;
  --padding-81xl: 100px;
  --padding-61xl: 80px;
  --padding-33xl: 52px;
  --padding-15xl: 34px;
  --padding-9xl: 28px;
  --padding-27xl: 46px;
  --padding-19xl: 38px;
  --padding-6xl: 25px;
  --padding-4xl: 23px;
  --padding-9xs: 4px;
  --padding-4xs: 9px;
  --padding-5xs: 8px;
  --padding-3xl: 22px;
  --padding-31xl: 50px;
  --padding-7xl: 26px;
  --padding-13xl: 32px;
  --padding-2xl: 21px;
  --padding-11xl: 30px;
  --padding-12xs: 1px;
  --padding-10xl: 29px;
  --padding-18xl: 37px;
  --padding-22xl: 41px;
  --padding-29xl: 48px;
  --padding-37xl: 56px;
  --padding-5xl: 24px;
  --padding-35xl: 54px;
  --padding-8xl: 27px;
  --padding-51xl: 70px;
  --padding-50xl: 69px;
  --padding-26xl: 45px;
  --padding-base: 16px;
  --padding-23xl: 42px;
  --padding-mini: 15px;
  --padding-24xl: 43px;
  --padding-5xs-1: 7.1px;
  --padding-mid-9: 17.9px;
  --padding-2xs: 11px;
  --padding-46xl: 65px;
  --padding-34xl: 53px;
  --padding-47xl: 66px;
  --padding-14xl: 33px;
  --padding-36xl: 55px;
  --padding-16xl: 35px;
  --padding-32xl: 51px;
  --padding-17xl: 36px;
  --padding-3xs: 10px;
  --padding-41xl: 60px;
  --padding-20xl: 39px;
  --padding-43xl: 62px;
  --padding-10xs: 3px;
  --padding-mid: 17px;
  --padding-lg: 18px;
  --padding-7xs: 6px;
  --padding-sm: 14px;
  --padding-53xl: 72px;
  --padding-xs: 12px;
  --padding-71xl: 90px;
  --padding-39xl: 58px;
  --padding-40xl: 59px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-11xl: 30px;
  --br-21xl: 40px;
  --br-28xl: 47px;
  --br-xl: 20px;
  --br-65xl: 84px;
}
